The dataset contains 9568 data points collected from a Combined Cycle Power Plant over 6 years (2006-2011), when the power plant was set to work with full load. Features consist of hourly average ambient variables Temperature (T), Ambient Pressure (AP), Relative Humidity (RH) and Exhaust Vacuum (V) to predict the net hourly electrical energy output (EP)  of the plant.
A combined cycle power plant (CCPP) is composed of gas turbines (GT), steam turbines (ST) and heat recovery steam generators.
 In a CCPP, the electricity is generated by gas and steam turbines, which are combined in one cycle, and is transferred from one turbine to another. While the Vacuum is colected from and has effect on the Steam Turbine, the other three of the ambient variables effect the GT performance.For comparability with our baseline studies, and to allow 5x2 fold statistical tests be carried out, we provide the data shuffled five times. For each shuffling 2-fold CV is carried out and the resulting 10 measurements are used for statistical testing.

Attribute Information:

Features consist of hourly average ambient variables 
- Temperature (T) in the range 1.81°C and 37.11°C,
- Ambient Pressure (AP) in the range 992.89-1033.30 milibar,
- Relative Humidity (RH) in the range 25.56% to 100.16%
- Exhaust Vacuum (V) in the range 25.36-81.56 cm Hg
- Net hourly electrical energy output (EP) 420.26-495.76 MW

The averages are taken from various sensors located around the plant that record the ambient variables every second. The variables are given without normalization.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("0000000000002419_training_ccpp_x_y_train.csv")
df = pd.DataFrame(data)
df.head(15)

      # T      V       AP     RH      EP
0    8.58  38.38  1021.03  84.37  482.26
1   21.79  58.20  1017.21  66.74  446.94
2   16.64  48.92  1011.55  78.76  452.56
3   31.38  71.32  1009.17  60.42  433.44
4    9.20  40.03  1017.05  92.46  480.38
5   26.82  69.23  1013.28  50.86  436.36
6    9.48  40.80  1023.82  78.98  485.36
7    9.41  41.54  1019.48  82.19  481.59
8   31.03  69.59  1007.77  63.96  432.56
9   18.24  59.15  1012.00  84.40  449.48
10  19.96  39.53  1006.16  62.77  460.49
11  14.43  39.82  1012.56  78.52  470.17
12  14.38  40.71  1023.46  66.12  473.41
13   5.23  35.57  1026.23  79.38  488.50
14  14.43  41.76  1024.02  83.57  467.33

In [3]:
df.columns

Index(['# T', ' V', ' AP', ' RH', ' EP'], dtype='object')

In [4]:
df.isnull().sum()

# T    0
 V     0
 AP    0
 RH    0
 EP    0
dtype: int64

In [5]:
x = df.iloc[:,0:4]
y = df.iloc[:,4:5]

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
algo = LinearRegression()

In [8]:
algo.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
name = ['# T', ' V', ' AP', ' RH']
new_data = pd.read_csv("0000000000002419_test_ccpp_x_test.csv", names = name)
df1 = pd.DataFrame(new_data)
df1

        # T      V       AP     RH
0     11.95  42.03  1017.58  90.89
1     12.07  38.25  1012.67  81.66
2     26.91  74.99  1005.64  78.98
3     20.58  39.53  1005.68  62.09
4     16.78  37.20  1011.97  68.94
...     ...    ...      ...    ...
2387  29.49  69.71  1009.34  56.35
2388  27.69  65.34  1014.31  46.59
2389  24.32  66.25  1009.09  91.89
2390  23.49  42.80  1013.96  65.31
2391  21.76  60.27  1018.96  85.06

[2392 rows x 4 columns]

In [10]:
df1.isnull().sum()

# T    0
 V     0
 AP    0
 RH    0
dtype: int64

In [11]:
pred = algo.predict(df1)
pred

array([[469.95711113],
       [471.76632733],
       [433.85647002],
       ...,
       [439.13871988],
       [450.65930697],
       [447.27281902]])

In [12]:
score = algo.score(df1, pred)
score

1.0

In [13]:
import csv
with open('New_Prediction_CCPP.csv', 'w') as f:
    for c in range(len(pred)):
        e = pred[c][0]
        d = round(e, 7)
        f.write(str(d))
        f.write("\n")

In [14]:
algo.coef_

array([[-1.99374681, -0.2269919 ,  0.05863744, -0.16016753]])

In [15]:
algo.intercept_

array([458.21219392])